.footer
  border-top: #e8e8e8 solid 1px
  color: #000000
  padding-top: 13px
  padding-bottom: 8px
  position: relative
  @media (max-width: 768px)
    color: $colorGray09
    padding-top: 61px
    padding-bottom: 67px
  &__adress
    float: left
    letter-spacing: -0.5px
    @media (max-width: 768px)
      float: none
      padding-bottom: 8px
      letter-spacing: -0.5px
  &__copyright
    float: left
    font-size: 0.8571rem
    opacity: 0.5
    letter-spacing: -0.5px
    padding-top: 2px
    @media (max-width: 768px)
      color: $colorGray09
      opacity:  1
      float: none
      letter-spacing: -0.6px
  &__phone
    float: right
    letter-spacing: -0.9px
    text-decoration: none
    font-size: 1.571rem
    color: #000000
    position: relative
    top: -12px
    @media (max-width: 768px)
      position: absolute
      top: 22px
      left: 19px
  &__email
    display: inline-block
    color: #52ac62
    padding-left: 13px
    @media (max-width: 768px)
      position: absolute
      bottom: 36px
      left: 7px
      letter-spacing: -0.7px