.main
  overflow: hidden

.header
  background: url(../images/header-bg.jpg) no-repeat center top #000
  background-size: 100% auto
  @media (min-width: 769px)
    height: 100vh
  .show-modile
    padding-top: 23px
  &__menu
    position: absolute
    left: 40px
    top: 40px
    @media (max-width: 768px)
      left: 20px
      top: 20px
    &-btn
      width: 60px
      height: 59px
      display: inline-block
      position: fixed
      left: 40px
      right: 40px
      cursor: pointer
      padding: 19px 18px
      cursor: pointer
      border: rgba(#fff, 0.2) solid 2px
      transition: all 0.2s ease-out 0.1s
      @media (max-width: 768px)
        width: 40px
        height: 40px
        padding: 12px 11px
      &.black
        transition: all 0.2s ease-out 0.1s
        border: rgba(#000, 0.2) solid 2px
        .header__menu-polos
          transition: all 0.2s ease-out 0.1s
          background: #000000
          &:before, &:after
            transition: all 0.2s ease-out 0.1s
            background: #000000
    &-polos
      margin-top: 8px
      margin-bottom: 8px
      display: block
      height: 2px
      position: relative
      background: #ffffff
      transition: all 0.2s ease-out 0.1s
      @media (max-width: 768px)
        margin-top: 5px
        margin-bottom: 5px
      &:before
        transition: all 0.2s ease-out 0.1s
        content: ''
        height: 2px
        display: block
        width: 100%
        background: #ffffff
        top: -8px
        left: 0
        right: 0
        position: absolute
        @media (max-width: 768px)
          top: -5px
      &:after
        transition: all 0.2s ease-out 0.1s
        position: absolute
        left: 0
        bottom: -8px
        right: 0
        content: ''
        height: 2px
        display: block
        width: 100%
        background: #ffffff
        margin-top: 6px
        @media (max-width: 768px)
          bottom: -5px
  &__logotip
    position: absolute
    left: 130px
    top: 40px
    @media (max-width: 768px)
      left: 80px
      width: 80px
      top: 20px
  &__pdf
    position: absolute
    right: 431px
    top: 62px
    font-size: 16px
    letter-spacing: 0.2px
    color: $colorGreen
    @media (max-width: 768px)
      display: none
    &:after
      content: ''
      display: inline-block
      height: 16px
      width: 16px
      background: url(../images/pdf-icon.png) no-repeat
      position: absolute
      right: -27px
      top: 2px
  &__phone
    position: absolute
    right: 58px
    top: 56px
    color: #ffffff
    font-family: $ffOpenSansLight
    display: table
    vertical-align: middle
    @media (max-width: 768px)
      position: absolute
      right: 20px
      top: 20px
    &-link
      color: #fff
      text-transform: uppercase
      font-family: $ffOpenSansLight
      font-size:  2.286rem
      line-height: 2.286rem
      text-decoration: none
      display: table-cell
      vertical-align: middle
      letter-spacing: -0.5px
      strong
        font-family: $ffOpenSansBold
      @media (max-width: 768px)
        text-indent: -9999px
        border: rgba(#fff, 0.2) solid 2px
        display: inline-block
        width: 40px
        height: 40px
        &:after
          content: ''
          display: inline-block
          +block-center
          @include sprite($phone-logo)
    &-text
      font-family: $ffOpenSansSBold
      font-size: 0.8571rem
      line-height: 0.8571rem
      color: #fff
      opacity: 0.5
      vertical-align: middle
      display: table-cell
      padding-right: 14px
      @media (max-width: 768px)
        display: none
  &__title
    font-family: $ffOpenSansBold
    font-size: 3.286rem
    line-height: 4rem
    color: #ffffff
    margin-left: -4px
    margin-bottom: 28px
    @media (max-width: 768px)
      font-size: 1.286rem
      padding-top: 135px
      line-height: 1.714rem
      margin-left: 0
      margin-bottom: 13px
      br
        display: none
    span
      font-family: $ffOpenSansLight
      color: #52ac62
      @media (max-width: 768px)
        display: block
    &:after
      content: ''
      display: block
      background: url(../images/h1-bg.png) no-repeat
      width: 270px
      height: 3px
      margin-left: 2px
      margin-top: 20px
      @media (max-width: 768px)
        display: none
  @media (min-width: 1439px)
    .header__title
      margin-bottom: 178px
  @media (min-width: 1680px)
    .header__title
      margin-bottom: 228px
  &__noshits
    background: url(../images/no-shits-header.png) no-repeat right center
    min-height: 50px
    padding-right: 60px
    color: #ffffff
    line-height: 50px
    @media (max-width: 768px)
      padding-right: 0
      background: none
      font-size: 0.8571rem
      line-height: 1.143rem

  .container
    .row
      padding-bottom: 10px
      @media (min-width: 769px)
        width: 940px
        height: 100vh
        padding-bottom: 40px
        display: table-cell
        vertical-align: bottom